footer
  .footer
    a.footer-text ©CopyRight recval AllRights Reserved.
  css:
    footer{
    clear: both;
    }
    .footer {
      background-color: #59A2F5;
      background-size: cover;
      position: relative;
      height: 50px;
      text-align: center;
    }
    .footer-text{
      font-size: 14px;
      color: white;
      position: relative;
      top: 8px;
    }
    .humberger-button{
      color: white;
      position: relative;
      right: 113px;
      font-size: 24px;
      top: 8px;
    }