header
  .sp_header
    = link_to "http://recval.com",class: "none-deco" do
      span.header-text RecVal

  css:
    .sp_header {
      background-color: #59A2F5;
      background-size: cover;
      position: relative;
      height: 50px;
      text-align: center;
    }
    .header-text{
      font-size: 24px;
      color: white;
      position: relative;
      top: 8px;
      border-bottom: 2px solid;
    }
    .none-deco{
      text-decoration: none;
    }