.first-view-image
  = image_tag 'http://media.gettyimages.com/photos/couple-using-cell-phone-in-sunny-cafe-picture-id554391747?k=6&m=554391747&s=170667a&w=0&h=YkRVZeCLR2AlhJgYfpgbMt1xcQ8Mot66HXF7yAgLRJY=' ,class: "top-image"
section
  .main
    .topic-area-title
      div[style="width: 100%;"]
        div.top-title-style New Topic
      span.top-subtitle-style 新規記事
    .topic-area
        - @new_topics.each_with_index do |t,i|
          - unless i.even?
            = link_to topic_show_path(t.id) do
              .card-margin
               .list
                 = image_tag t.thumb_url ,class: "top-card"
               .list[style="float: right"]
                 .label-style
                   .label-text = @need_name[i]
                 span.topic-title =t.title
                 div[style="display: table-cell;vertical-align: middle;text-align: center;color: #E3E3E3;width: 35.42px;"]
                   / i[class="fa fa-hand-o-left" aria-hidden="true" style="font-size: 32px;color: #59A2F5;"]
                 span.check-text この記事をチェック
            .top-card-border
          - else
            = link_to topic_show_path(t.id) do
              .card-margin
                .list
                  .label-style
                    .label-text = @need_name[i]
                  span.topic-title =t.title
                  / div[style="text-align: right;"]
                    / i[class="fa fa-hand-o-right" aria-hidden="true" style="font-size: 32px;color: #59A2F5;"]
                  span.check-text この記事をチェック
                .list[style="float: right"]
                  = image_tag t.thumb_url, class: "top-card"
            .top-card-border
    .buttom-div
      .buttom
        = link_to "記事一覧へ",topics_path,style: "color: #59A2F5;text-decoration: none;"

  section
    .product-area-title
      div.top-title-style Needs
      span.top-subtitle-style ニーズ・選び方
    .product-area
      div[style="margin-left: 20px"]
        - @recommend_needs.each do |n|
            .category-card
              .img-style
                = image_tag n.thumb_url, class: "category-card-img"
                .black-window
              span.category-card-text = n.name

  section
    .main
      .topic-area-title
        div.top-title-style Popular
        span.top-subtitle-style 人気記事

      .topic-area
        ul
          - @new_topics.each_with_index do |t,i|
            li.list
              .label-style
                .label-text = @need_name[i]
              = image_tag t.thumb_url ,class: "top-card"
            li.recommend-list
              .recommend-text
                span.popular-title = t.title
                span.check-text この記事をチェック

  css:
    section{
      width:100%;
    }
    .main{
      margin:0 10px;
    }
    .first-view-image{
      width: 100%;
    }
    .top-image{
      width: 100%;
      margin: 1px 0;
      display: inline-block;
    }
    .top-image-right{
      width: 40%;
      height: 390px;
      display: inline-block;;
    }
    .top-image2 {
      height: 50%;
      margin: 4px 0px 0px 4px;
    }
    .top-image3 {
      height: 50%;
      margin: 0px 0px 4px 4px;
    }
    .product-area{
      width: 100%;
      background-color: #E1EEFD;
    }
    .topic-area{
      width: 100%;
    }
    ul{
      width: 100%;
      padding: 0;
      list-style: none;
    }
    .topic-card {
      display: block;
      height: 50%;
      margin: 4px 0px 0px 4px;
    }
    .top-card{
      width: 100%;
      height: 100%;
    }
    .list{
      display: inline-block;
      width: 46%;
      background-color: white;
      height: 180px;
      position: relative;
    }
    .recommend-list{
      display: inline-block;
      width: 45%;
      margin: 0 0 0 12px;
    }
    .recommend-text{
      position: relative;
      top: -30px;
    }
    .topic-area-title{
      border-bottom: 2px solid #59A2F5;
      overflow: hidden;
    }
    .product-area-title{
      border-bottom: 2px solid #59A2F5;
      overflow: hidden;
      margin: 0 10px;
    }
    .top-title-style{
      display: inline-block;
      vertical-align: middle;
      float: left;
      font-size: 24px;
      font-weight: 600;
    }
    .top-subtitle-style{
      padding-left: 8px;
      top: 8px;
      position: relative;
      color: #59A2F5;
      font-size: 12px;
    }
    .check-text{
      color: #59A2F5;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    .popular-title{
      display: block;
      font-size: 14px;
      color: black;
    }
    .topic-title{
      font-size: 14px;
      color: black;
    }
    .label-style{
      background-color: #59A2F5;
      width: 100%;
      height: 30px;
      / position: relative;
      / top: 30px;
      color: white;
      text-align: center;
    }
    .label-text{
      position: relative;
      top: 4px;
    }
    .category-card{
      display: inline-block;
      width: 44%;
      height: 120px;
      position: relative;
      margin: 20px 20px 0px 0px;

    }
    .category-card-img{
      width: 100%;
      height: 120px;
    }
    .category-card-text{
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 2;
      color: white;
    }
    .black-window{
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 2;
      opacity: 0.3;
      background-color: black;
      width: 100%;
      height: 120px;
    }
    .img-style{
      position: relative;
      height: 120px;
    }
    .card-margin{
      margin-top: 20px;
    }
    .top-card-border{
      border-bottom: 1px solid #59A2F5;
      margin-top: 10px;
    }
    div.buttom{
      width: 100%;
      margin-top: 10px;
      font-size: 15px;
      padding: 12px 0px;
      text-align: center;
      position: relative;
      display: block;
      background: #fff;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-transition: none;
      transition: none;
      border: 1px solid #59A2F5;
    }
    .buttom-div{
     margin-bottom: 20px;
    }